/* css variables for theming */



* {
  margin: 60;
  padding: 0;
}
/* Body */
body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: hsla(155, 13%, 57%, 0.918);
}

/* Header */
.header {
  text-align: center;
  padding: 0.5rem;
  align-items:center;
  justify-content:center;
}
/* Login */
.login button{
  align-items:center;
 
  width: 100%;
  font-size: larger;
}
#Logo {
  justify-content: center;
  align-items:center;
  width: 15%;
  height: 15%;
}
h1 {
  font-size: 15px;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h2 {
  font-size: 20px;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

p {
  font-size: 15px;
  text-align:center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form {
  margin: 10rem;
  display: flex;
  flex-direction:column;
  border: 50rem;
  padding: 1rem 40rem;
  margin: 0rem 0;
}

input, select {
  width: 50%; 
  margin-bottom: 1rem;   
}

input[type="checkbox"] {
  width:auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.search input[type=text]{
  width:500px;
  height:25px;
  border-radius:50px;
  border: none;
}

.search input:hover{
  border: 5px solid #9bb1af;
  background-color: hsla(141, 19%, 73%, 0.918);
  background-color:  hsla(141, 19%, 73%, 0.918);
}

.newPostcard {
  padding: 0rem 40rem;
  margin: 0rem 0;
  background-color:hsla(141, 19%, 73%, 0.918);
}

.newPostcard form {
  display:contents;
  justify-content:baseline;
}

.newPostcard input {
  margin-right: 10rem;
  flex:40em;
}

.newPostcard button {
  text-align: center;
  width: 300px;
}



label {
  font-weight:normal;
  display:inline;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid rgb(141, 41, 41);
  transition: all 0.2s;
  width: 100%;
}



.navbar {
 
  background-color: hsla(155, 13%, 57%, 0.918);
  margin-right: auto;    
  margin-left: auto; 
  padding-left: 30px;
  padding-right: 30px;

}

.navbar a {
 
  display:inline-flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 0.25rem;
  text-decoration:none;
  font-size: 1.2em;
  color: rgb(7, 3, 3);
  transition: 2s;
  
  
 
}
.navbar a:hover{

  color: rgb(23, 31, 22);
  border-bottom: 2px solid rgb(233, 132, 132);
  background: rgb(180, 202, 178);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: hsla(155, 13%, 57%, 0.918);

  padding: 0px;
}
.grid-item {
  height: 500px;
  background-color: hsla(155, 13%, 57%, 0.918);
  display:inline-table;
 
  border: 50px solid hsla(155, 13%, 57%, 0.918);
  padding: 40px;
  font-size: 20px;
  text-align: center;
}

.grid-item img {
  width: 100%;
  border: 8px solid rgb(193, 226, 214);
}
.grid-item button {
  width: 40%;
  font-size: medium;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(12, 11, 11);
  background-color: #a8c4b9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(23, 68, 38);
}