body {
  background: rgb(232, 234, 235);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.header {
  text-align: center;
  
}

#headerImg {
  width: 600px;
  height: 600px;
 
}

